include LICENSE
include MANIFEST.in
include versioneer.py


graft soursop
global-exclude *.py[cod] __pycache__ *.so

recursive-include soursop/data *include soursop/_version.py
include soursop/_version.py
